@{
    Layout = "_layout.cshtml";
    ViewBag.Title = "Ardyce Nordeen";
}

@helper RecentExperience(string title, string subtitle, string year) {
    <li class="mdl-list__item mdl-list__item--two-line">
        <span class="mdl-list__item-primary-content">
            <i class="material-icons mdl-list__item-icon">local_activity</i>
            <span>@title</span>
            <span class="mdl-list__item-sub-title">with @subtitle</span>
        </span>
        <span class="mdl-list__item-secondary-content">
            <span class="mdl-list__item-secondary-info">@year</span>
        </span>
    </li>
}

<div class="mdl-cell mdl-cell--12-col mdl-card mdl-shadow--4dp">
    <div class="mdl-grid">
        <div class="mdl-cell mdl-cell--4-col">
            <p><img src="ardycenordeen.jpg" alt="@ViewBag.Title"></p>
            <h1 class="mdl-card__title-text">@ViewBag.Title</h1>
            <p>Secretary</p>
        </div>
        <div class="mdl-cell mdl-cell--8-col">

            <p>
                Ardyce is a veteran theatre bug, who began making up plays for the neighborhood kids to act out when
                she was in elementary school. Her love of being onstage continued through high school and college, but
                her college training was in teaching. Her thirty-two year teaching career included eighteen years as a
                music teacher, which allowed for quite a few stage performances with children from three to eighteen.
                Nine of those years were at Center Place Restoration School, where she directed the yearly drama
                performance and sometimes wrote the scripts.
            </p>
            <p>
                Ardyce is married to Craig Nordeen and they have three grown children, all married, and six
                grandchildren, with a seventh on the way, due this fall. The acting/singing bug has infected most of
                them, too.
            </p>
            <p>
                When she isn’t onstage or backstage, Ardyce is the Media Outreach Coordinator for the Remnant Church
                of Jesus Christ of Latter Day Saints. (This position also allows for some directing time!) She attends
                the Blue Springs Branch of the Remnant Church, where she teaches Sunday School music and helps with
                pianist duties. Her favorite things to do are travel with her husband, spend time with her family,
                write, study scripture, read (favorite genres are biography and historical fiction) do photography,
                and watch movies, especially musicals!
            </p>

            <h2 class="mdl-typography--headline">Recent Experience</h2>
            <ul class="mdl-list">
                @RecentExperience("Mary Poppins", "Center Place Christian Theater", "Summer 2017")
            </ul>

        </div>
    </div>
</div>