@{
    Layout = "_layout.cshtml";
    ViewBag.Title = "Joy Cain";
}

@helper RecentExperience(string title, string subtitle, string year) {
    <li class="mdl-list__item mdl-list__item--two-line">
        <span class="mdl-list__item-primary-content">
            <i class="material-icons mdl-list__item-icon">local_activity</i>
            <span>@title</span>
            <span class="mdl-list__item-sub-title">with @subtitle</span>
        </span>
        <span class="mdl-list__item-secondary-content">
            <span class="mdl-list__item-secondary-info">@year</span>
        </span>
    </li>
}

<div class="mdl-cell mdl-cell--12-col mdl-card mdl-shadow--4dp">
    <div class="mdl-grid">
        <div class="mdl-cell mdl-cell--4-col">
            <p><img src="theaterfaces.png" alt="@ViewBag.Title"></p>
            <h1 class="mdl-card__title-text">@ViewBag.Title</h1>
            <p>President</p>
            <p>
                <a href="mailto:joy@centerplacechristiantheatre.com">
                    <span class="mdl-chip mdl-chip--contact">
                        <i class="mdl-chip__contact material-icons" style="background-color: orange">email</i>
                        <span class="mdl-chip__text">joy@centerplacechristiantheatre.com</span>
                    </span>
                </a>
            </p>
            <p>
                <a href="https://www.facebook.com/joy.cain.980" target="_blank">
                    <span class="mdl-chip mdl-chip--contact">
                        <img class="mdl-chip__contact" src="/images/facebook.png">
                        <span class="mdl-chip__text">Facebook</span>
                    </span>
                </a>
            </p>
        </div>
        <div class="mdl-cell mdl-cell--8-col">

            <blockquote>
                I am so very glad to be anxiously engaged in a good cause with such a wonderful board, a host of
                amazing volunteers and some very talented performers!
            </blockquote>

            <p>
                Joy is the board president and the founding member of Center Place Christian Theatre. Joy is a Speech-
                Language Pathologist, practicing at KC metro hospitals and rehabilitation programs. Her undergraduate
                degree was in Elementary Education and she enjoyed teaching 4 th grade at Center Place Restoration
                School for 11 years.
            </p>
            <p>
                Joy became interested in theatre when her children were young. Her first onstage experience was as a
                villager, when her entire family appeared in Raytown Art Council’s 1999 production of Fiddler on the
                Roof. She also appeared onstage as Mrs. Squires, again with her entire family, in the Blue Springs
                Community Theatre production of The Music Man. Joy was a theatre mom for many years and learned
                from many wonderful directors in various community theatre organizations. While at CPRS, Joy &amp;
                others established the fall musical program, and directed the first 10 musicals there (<i>Annie</i>,
                <i>Beauty and the Beast</i>, <i>The Music Man</i>, <i>Sound of Music</i>, <i>The King &amp; I</i>,
                <i>Meet Me in St. Louis</i>, <i>Cinderella</i>, <i>Annie</i>, <i>The Little Mermaid</i>, and <i>Peter Pan</i>).
            </p>
            <p>
                In 2008, requests came in from alumni of CPRS who graduated before the musical program began,
                asking if it were possible to have an alumni musical production in the summer. Center Place Christian
                Theatre was born! CPCT now involves many others from various groups of believers, in addition to CPRS
                alumni. Joy is so pleased to see CPCT continue to thrive and grow in unity of purpose, using God-given
                talents to serve the community. She is thankful for the wonderful people throughout the years who
                have worked tirelessly, volunteering their time to make CPCT what it is today!
            </p>

            <h2 class="mdl-typography--headline">Recent Experience</h2>
            <ul class="mdl-list">
                @RecentExperience("Mary Poppins", "Center Place Christian Theater", "August 2017")
                @RecentExperience("Little Women", "Center Place Christian Theater", "Summer 2015")
                @RecentExperience("OKLAHOMA!", "Center Place Christian Theater", "Summer 2012")
                @RecentExperience("Fiddler on the Roof", "Center Place Christian Theater", "Summer 2009")
                @RecentExperience("Seven Brides for Seven Brothers", "Center Place Christian Theater", "Summer 2008")
                @RecentExperience("Disney's Peter Pan, Jr", "Center Place Restoration School", "2015")
                @RecentExperience("Disney's The Little Mermaid, Jr", "Center Place Restoration School", "2014")
                @RecentExperience("Annie", "Center Place Restoration School", "2013")
                @RecentExperience("Cinderella", "Center Place Restoration School", "2012")
                @RecentExperience("Meet Me in St. Louis", "Center Place Restoration School", "2011")
                @RecentExperience("The King &amp; I", "Center Place Restoration School", "2010")
                @RecentExperience("The Sound of Music", "Center Place Restoration School", "2009")
                @RecentExperience("The Music Man", "Center Place Restoration School", "2008")
                @RecentExperience("Disney's Beauty &amp; the Beast", "Center Place Restoration School", "2007")
                @RecentExperience("Annie", "Center Place Restoration School", "2006")
                @RecentExperience("Fish Tales", "Center Place Restoration School", "2005")
            </ul>

        </div>
    </div>
</div>